<h2>
  <a routerLink="/research">PhD</a>
  , Currently CTO
  <a class="hunteed" href="https://hunteed.com" target="_blank">@Hunteed</a>
</h2>

<mat-list>
  <h4 mat-subheader>PhD work in fundamental fluid mechanics</h4>
  <mat-list-item>
    <a routerLink="/research">See publications & conferences</a>
  </mat-list-item>

  <h4 mat-subheader> Random projects & github contributions</h4>
  <ah-external-link url="https://chrome.google.com/webstore/detail/gdpnope/kaobbaeanleebomkmkleekoeefldjcpi?hl=es">
    <strong>GDPNope</strong>: block tracking request popups and deny all tracking
  </ah-external-link>

  <ah-external-link url="https://github.com/aherve/ngx-compact-number">
    <strong>ngx-compact-number</strong>: angular lib do display numbers in a compact way <i>e.g.</i> 40k instead of 40,003
  </ah-external-link>

  <ah-external-link url="https://github.com/aherve/typescript-express-docker">
    <strong>Typescript-express-docker</strong>: a dockerized node-express application, written in typescript
  </ah-external-link>

  <ah-external-link url="https://github.com/aherve/docker-nodemon">
    <strong>docker-nodemon</strong>: a minimal docker config to write and debug some typescript
  </ah-external-link>

  <ah-external-link url="http://aurelien-herve.com/BBCSounds/">
    <strong>BBC sounds explorer</strong>: Search engine built on top of an incredible sound database that the BBC open-sourced.
  </ah-external-link>

  <ah-external-link url="https://github.com/aherve/pbkdf2-password-hasher">
    <strong>PBKDF2-password-hasher</strong>: a ruby implementation of the pbkdf2 algorithm. Usually built to migrate from a django users db to a ruby-rails app.
  </ah-external-link>

  <h4 mat-subheader>Social & blogging</h4>
  <ah-external-link url="https://medium.com/@aherve">medium blog</ah-external-link>
  <ah-external-link url="https://twitter.com/aurel_herve">twitter</ah-external-link>
  <ah-external-link url="https://github.com/aherve">github</ah-external-link>
  <ah-external-link url="https://www.linkedin.com/in/aurélien-hervé-6355255a">linkedin</ah-external-link>
</mat-list>
