<h2> Conferences & publications </h2>

<mat-list>
  <h3 mat-subheader>PhD Thesis</h3>
  <mat-list-item>
    <a
      class="item"
      href="https://github.com/aherve/publications/tree/master/2012/PhD"
      target="_blank"
      fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px"
      >
      <span> Contrôle optimal en boucle fermée d’instabilités hydrodynamiques par identification de modèles réduits </span>
      <mat-icon [inline]="true">open_in_new</mat-icon>
    </a>
  </mat-list-item>

  <h3 mat-subheader>2012</h3>
  <mat-list-item>
    <a
      class="item"
      href="https://github.com/aherve/publications/tree/master/2012/JFM<Paste>"
      target="_blank"
      fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px"
      >
      <span>A physics-based approach to ﬂow control using system identiﬁcation (JFM publication)</span>
      <mat-icon [inline]="true">open_in_new</mat-icon>
    </a>
  </mat-list-item>
  <mat-list-item>
    <a
      class="item"
      href="https://github.com/aherve/publications/tree/master/2012/EFMC9"
      target="_blank"
      fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px"
      >
      <span>EFMC9 (conference)</span>
      <mat-icon [inline]="true">open_in_new</mat-icon>
    </a>
  </mat-list-item>

  <h3 mat-subheader>2011</h3>
  <mat-list-item>
    <a
      class="item"
      href="https://github.com/aherve/publications/tree/master/2011/AIAA_2011"
      target="_blank"
      fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px"
      >
      <span>AIAA 2011 (conference)</span>
      <mat-icon [inline]="true">open_in_new</mat-icon>
    </a>
  </mat-list-item>
  <mat-list-item>
    <a
      class="item"
      href="https://github.com/aherve/publications/tree/master/2011/CFM_2011"
      target="_blank"
      fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px"
      >
      <span>CFM 2011 (conference)</span>
      <mat-icon [inline]="true">open_in_new</mat-icon>
    </a>
  </mat-list-item>
</mat-list>
