<mat-toolbar fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="25px">
  <a routerLink="/">
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
      <img class="avatar" src="/assets/portrait.jpg">
      <h1>Aurélien Hervé</h1>
    </div>
  </a>
  <nav mat-tab-nav-bar>
    <a
      mat-tab-link
      routerLink="/research"
      routerLinkActive #rla="routerLinkActive"
      [active]="rla.isActive"
      >research</a>
    <a
      mat-tab-link
      (click)="showEmail()"
      >contact</a>
  </nav>
  <div fxFlex="grow"></div>
  <a href="https://medium.com/@aherve" target="blank">
    <img class="icon" src="/assets/medium.png">
  </a>
  <a href="https://twitter.com/aurel_herve" target="_blank">
    <img class="icon" src="/assets/twitter.png">
  </a>
  <a href="https://github.com/aherve" target="_blank">
    <img class="icon" src="/assets/github.png">
  </a>
  <a href="https://www.linkedin.com/in/aurélien-hervé-6355255a" target="_blank">
    <img class="icon" src="/assets/linkedin.png">
  </a>
</mat-toolbar>
